[Unit]
Description=Dyndoc Http service
Wants=dyn-html.service

[Service]
User=conf
ExecStart=/usr/local/bin/dyn-http run
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target