[Unit]
Description=Dyndoc Server service

[Service]
User=conf
ExecStart=/usr/local/bin/dyn-srv run
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target